<!-- Intro Section -->
<section id="intro" class="intro-section">
  <div class="row">
    <div class="col-md-12">
      <h1>We're Gettin' Hitched!</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <img src="/assets/images/0-5.jpg" style="border-radius: 50%;">
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <p>Steven and Sloane met on July 19th, 2009 at Steven's best friend, Felipe's, house party. On a whim, Sloane decided to join her friends that night and attend the party. As soon as Sloane walked in, Steven instantly noticed her and for the rest of the night, gathered the courage to speak to this radiant young woman! All the while, Sloane was asked by her best friend, Ti, who she thought was the cutest boy at the party and she immediately replied "That one, with the glasses!" As the night wore on, he saw the mysterious damsel from before sitting across the way with her friends, and something inside him said "If you don't talk to this young lady, it will be the biggest mistake of your life!" So he walked over, introduced himself and within a few moments, he had picked her up and they jumped into the pool together! And the rest is history... </p>
      <a id="to-wedding-details" class="btn btn-circle page-scroll" href="#wedding">
        <i class="fa fa-chevron-down fa-5x animated"></i>
      </a>
    </div>
  </div>
</section>

<!-- Wedding Section -->
<section id="wedding" class="wedding-section">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h1>The Wedding</h1>
      <%= image_tag("http://i.imgur.com/5iUgVu7.jpg") %>
      <p>Ever since Sloane was a little girl growing up in Denton, she's always enjoyed the majesty and wonder of The Little Chapel in the Woods. True to its name, it is a little chapel, but it's extremely beautiful as well. We will be getting married here on <strong>October 24, 2015</strong> at <strong>2:30pm</strong> and would love it if you could make it to our little wedding.</p>
      <p>Below you will find a Google Map for the location of the wedding that you will also be able to use on the day of the wedding in case you need directions.</p>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3337.405011677378!2d-97.12854569999999!3d33.22969140000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x864dca8385accd75%3A0x21f147777f4eba8b!2sLittle+Chapel+in+the+Woods!5e0!3m2!1sen!2sus!4v1440263170568" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</section>

<!-- Reception Section -->
<section id="reception" class="reception-section">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h1>The Reception</h1>
      <div class="clipped-image">
        <img src="http://www.mhsmarquee.com/wp-content/uploads/2013/09/IMG_8645-Custom.jpg">
      </div>
      <p>We'll be taking our wedding guests out to Patrizio in nearby Highland Village. There will be plenty of appetizers, food, drinks and cake of course!</p>
      <p>Again a map has been provided below for directions to Patrizio</p>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3343.3536974745657!2d-97.0861096!3d33.0734782!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x864c32b13897e459%3A0x8f2210c8505f235e!2sPatrizio+Restaurant!5e0!3m2!1sen!2sus!4v1440979074608" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</section>

<!-- Registry Section -->
<section id="registry" class="registry-section">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h1>Our Registry</h1>
      <p>For our Honeymoon, we're going to the Wizarding World of Harry Potter in Orlando, Florida! You can help us fund our honeymoon by clicking the button below which will take you to our Wanderable site.</p>
      <a class="btn btn-primary btn-block" href="http://www.wanderable.com/hm/stevenandsloane" target="_blank">Our Registry at Wanderable</a>
    </div>
  </div>
</section>

<section id="gallery">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="row">
        <div class="col-md-4"><img src="/assets/images/0-15.jpg"></div>
        <div class="col-md-4"><img src="/assets/images/0-14.jpg"></div>
        <div class="col-md-4"><img src="/assets/images/0-13.jpg"></div>
      </div>
      <div class="row">
        <div class="col-md-4"><img src="/assets/images/0-19.jpg"></div>
        <div class="col-md-4"><img src="/assets/images/0-16.jpg"></div>
        <div class="col-md-4"><img src="/assets/images/izzy.jpg"></div>
      </div>
    </div>
  </div>
</section>
