<!-- Intro Section -->
<section id="intro" class="intro-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>Steven and Sloane are Getting Married</h1>
        <%= render 'carousel' %>
        
      </div>
      <a class="btn btn-default page-scroll" href="#wedding">Click Me to Scroll Down!</a>
    </div>
  </div>
</section>

<!-- About Section -->
<section id="wedding" class="wedding-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>The Wedding</h1>
        <p>Ever since Sloane was a little girl growing up in Denton, she's always enjoyed the majesty and wonder of The Little Chapel in the Woods on the Texas Women's University campus. True to its name, it is a little chapel, but it's extremely beautiful as well. We will be getting married here on <strong>October 24, 2015</strong> at <strong>2:30PM</strong> and would love it if you could make it to our little wedding.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
      <br />
        <p>Below you will find a Google Maps map for the location of the wedding that you will also be able to use on the day of the wedding in case you need help or directions.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-5">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3337.405011677378!2d-97.12854569999999!3d33.22969140000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x864dca8385accd75%3A0x21f147777f4eba8b!2sLittle+Chapel+in+the+Woods!5e0!3m2!1sen!2sus!4v1440263170568" width="550" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
      <div class="col-lg-5 col-lg-offset-1">
          <%= image_tag("http://i.imgur.com/5iUgVu7.jpg", size: "550x450") %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <a id="to-the-reception" class="btn btn-default page-scroll" href="#reception">To the Reception</a>
      </div>
    </div>
  </div>
</section>

<!-- Services Section -->
<section id="reception" class="reception-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>The Reception</h1>
        <p>Nothing says a good time like everyone going out for Italian after the wedding reception! We'll be taking everyone invited out to Patrizio in nearby Highland Village. There will be plenty of appetizers, food, drinks and cake of course!</p>
      </div>
    </div><br />
    <div class="row">
      <div class="col-lg-5">
        <p>Again a map has been provided below for directions to Patrizio from the Little Chapel in the woods.</p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d106893.4651164806!2d-97.16081799683273!3d33.1505783284271!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e6!4m5!1s0x864dca8385accd75%3A0x21f147777f4eba8b!2sLittle+Chapel+in+the+Woods%2C+Chapel+Drive%2C+Denton%2C+TX!3m2!1d33.2296914!2d-97.12854569999999!4m5!1s0x864c32b13897e459%3A0x8f2210c8505f235e!2sPatrizio+Restaurant%2C+The+Shops+at+Highland+Village%2C+4131+Deer+Creek+%23110%2C+Highland+Village%2C+TX+75077!3m2!1d33.0734782!2d-97.0861096!5e0!3m2!1sen!2sus!4v1440264675051" width="550" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
      <div class="col-lg-5 col-lg-offset-2"></div>
    </div>
  </div>
</section>

<!-- Contact Section -->
<section id="registry" class="registry-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>Our Registry</h1>
        <div>
          <a class="btn btn-default" href="http://www.wanderable.com/hm/stevenandsloane">Our Registry at Wanderable</a>
        </div>
      </div>
    </div>
  </div>
</section>