/*
 *= require font-awesome
 *= require scrolling-nav
 *= require_self
 */

$contentFont: 1.25em/1.8em Georgia, serif;

@font-face {
   font-family: 'Meath';
   src: asset-url('meath_flf.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}

body {
  padding: 51px 0 0;
  font-family: Meath;
  background: asset-url('background.jpg') center top scroll;
}

section {
  margin: 0 0 20px;
}

h1, h2 {
  margin: 0 0 20px;
  text-align: center;
}

h1 {
  font-size: 3em;
}

p {
  font: $contentFont;
  margin: 0 0 20px;
  text-indent: 1em;
}

img, .clipped-image {
  border: solid 4px #fff;
  margin: 0 0 20px;
}

.clipped-image {
  overflow: hidden;
  max-height: 300px;

  img {
    border: 0;
  }
}

.btn {
  font: $contentFont;
}

.navbar {
  background: #A4C2C4;

  .navbar-brand {
    font-size: 2.5em;
  }

  &.navbar-fixed-top li a {
    font-size: 1.5em;
  }
}

.main-container {
  padding-top: 20px;
  background: #DDD6C7
}

#intro {
  img {
    margin: 0 0 20px;
  }
}

.btn.page-scroll {
  display: none;
  margin: 0 auto 20px;
  padding: 0;
}

.clip {
  height: 450px;
  overflow: hidden;
}

.sloane-and-steven-images {
  margin-top: 20px;
  padding: 20px 0px;
}

img {
    max-width: 100%;
    height: auto;
}

iframe, .clip {
  width: 100%;
}

.sloane-and-steven-images img {
  margin: 10px 0;
}


/* Desktop resolutions */
@media(min-width:767px) {
  body {
    font-size: 1.8em;
    padding-top: 71px;
  }

  .navbar {
    padding: 10px 0;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;

    .navbar-brand {
      font-size: 2em;
    }

    &.navbar-fixed-top li a {
      font-size: 1em;
    }
  }

  section {
    margin-bottom: 35px;
  }

  #wedding img {
    float: left;
    max-width: 45%;
    margin: 0 20px 20px 0;
  }

  #reception .clipped-image {
    float: right;
    max-width: 45%;
    margin: 0 0 20px 20px;
  }
}
