/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

* {
	box-sizing: border-box;
}

@font-face {
   font-family: 'myFont';
   src: url('meath_flf.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}

html {
	background: url("jpeg.jpg") center top scroll;
}

body {
	background-color: transparent;
	font-family: myFont;
}


.main-container {
	background: #DDD6C7
}

.carousel-inner > .item > img {
  width: 80%;
  margin: auto;
}

.carousel-inner > .item > a > img {
  width: 70%;
  margin: 90%;
}

#to-wedding-details {
	margin-top: 20px;
}

h1 {
	margin-bottom: 20px;
	font-size: 50px;
}

p {
	padding: 0px 10%;
	font-size: 28px;
	text-align: left;
	text-indent: 1em;
}

.sloane-and-steven-images {
	margin-top: 20px;
	padding: 20px 0px;
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

iframe, .clip {
	width: 100%;
}

.clip {
	height: 450px;
	overflow: hidden;
}

.btn {
	white-space: normal
}

.sloane-and-steven-images img {
	margin: 10px 0;
}